In [1]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager
import time

In [2]:
# Setup splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 102.0.5005
[WDM] - Get LATEST chromedriver version for 102.0.5005 google-chrome
[WDM] - Driver [/Users/mariamadiallo/.wdm/drivers/chromedriver/mac64/102.0.5005.61/chromedriver] found in cache

# PART 1: SCRAPING

# NASA MARS NEWS

In [3]:
# First, create a empty dictionary to store the scraped data
scraped_data = {}

In [4]:
url_nasa = 'https://redplanetscience.com/'
browser.visit(url_nasa)

In [5]:
time.sleep(1)

In [6]:
# Return the rendered page by the browser
html_nasa = browser.html
soup = BeautifulSoup(html_nasa, 'html.parser')

In [7]:
# Collect the latest News Title
results = soup.find_all('div', class_="content_title")
news_title = results[0].text
print(f"Title: {news_title}")

Title: NASA's Perseverance Rover Will Peer Beneath Mars' Surface

In [8]:
# Collect the latest Paragraph Text
results = soup.find_all('div', class_="article_teaser_body")
news_p = results[0].text
print(f"Paragraph: {news_p}")

Paragraph: The agency's newest rover will use the first ground-penetrating radar instrument on the Martian surface to help search for signs of past microbial life.

In [9]:
# let's create a dictionary with the scraped data
Nasa_News = {"Title":news_title, "Paragraph": news_p}
Nasa_News

{'Title': "NASA's Perseverance Rover Will Peer Beneath Mars' Surface ",
 'Paragraph': "The agency's newest rover will use the first ground-penetrating radar instrument on the Martian surface to help search for signs of past microbial life. "}

In [10]:
# Save the scraped data to an entry of the dictionary
scraped_data["Title"] = news_title
scraped_data["Paragraph"] = news_p

# JPL Mars Space Imagesâ€”Featured Image

In [11]:
url = 'https://spaceimages-mars.com/'
browser.visit(url)

In [12]:
#Assign the HTML content of the page to a variable
img_html = browser.html

In [13]:
#Parse HTML with Beautifulsoup
soup = BeautifulSoup(img_html, 'html.parser')

In [14]:
#Find the image url for the current Mars Image
img_result = soup.find_all('img')

In [15]:
for image in img_result:
    print(image['src'])

image/nasa.png
image/featured/mars1.jpg
image/mars/Icaria Fossae7.jpg
image/mars/Proctor Crater Dunes 7.jpg
image/mars/Icaria Fossae7.jpg
image/mars/Proctor Crater Dunes 7.jpg
image/mars/Proctor Crater Dunes 7.jpg
image/mars/Icaria Fossae7.jpg
image/mars/Icaria Fossae.jpg
image/mars/Ariadnes Colles4.jpg
image/mars/Niger Vallis.jpg
image/mars/Proctor Crater Dunes.jpg
image/mars/Niger Vallis.jpg
image/mars/Daedalia Planum.jpg
image/mars/Sirenum Fossae.jpg
image/mars/Ariadnes Colles4.jpg
image/mars/South Polar Cap.jpg
image/mars/Daedalia Planum.jpg
image/mars/Ariadnes Colles3.jpg
image/mars/Atlantis Chaos.jpg
image/mars/Daedalia Planum.jpg
image/mars/Icaria Fossae.jpg
image/mars/Niger Vallis.jpg
image/mars/Proctor Crater Dunes.jpg
image/mars/Reull Vallis.jpg
image/mars/Ariadnes Colles3.jpg
image/mars/Sirenum Fossae.jpg
image/mars/South Polar Cap.jpg
image/mars/Niger Vallis.jpg
image/mars/Daedalia Planum.jpg
image/mars/Icaria Fossae.jpg
image/mars/Ariadnes Colles4.jpg
image/mars/South Polar Cap.jpg
image/mars/Daedalia Planum.jpg

https://www.jpl.nasa.gov/assets/images/content/tmp/images/jpl_photojournal(3x1).jpg
https://www.jpl.nasa.gov/assets/images/content/tmp/images/nasa_images(3x1).jpg
https://imagecache.jpl.nasa.gov/images/640x350/C1-PIA24304---CatScanMars-16-640x350.gif
https://imagecache.jpl.nasa.gov/images/640x350/PIA23491-16-640x350.jpg
https://imagecache.jpl.nasa.gov/images/640x350/C1-PIA23180-16-640x350.gif

In [16]:
url = 'https://spaceimages-mars.com/'
image_url = 'image/featured/mars3.jpg'
featured_image_url = url + image_url
print(featured_image_url)

https://spaceimages-mars.com/image/featured/mars3.jpg

In [17]:
# Save the scraped data to an entry of the dictionary
scraped_data["featured_image_url"] = featured_image_url
scraped_data["featured_image_url"]

'https://spaceimages-mars.com/image/featured/mars3.jpg'

# Mars Facts

In [18]:
url_mars_facts = 'https://galaxyfacts-mars.com'

In [19]:
# Use Pandas to automatically scrape any tabular data from a page.
tables = pd.read_html(url_mars_facts)

# How many tables are available
len(tables)

2

In [20]:
tables[0]

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 Ã— 10^23 kg  5.97 Ã— 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 Â°C      -88 to 58Â°C

In [21]:
tables[1]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 Ã— 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 Â°C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [22]:
# Select the table requested
table_facts = tables[1]
table_facts

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 Ã— 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 Â°C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [23]:
# let's rename the table colums to make it easier to read
table_facts.rename(columns={0: 'Characteristics',1: 'Values'},inplace=True)
table_facts = table_facts.set_index('Characteristics')
table_facts

                                             Values
Characteristics
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 Ã— 10^23 kg (0.11 Earths)
Moons:                        2 ( Phobos & Deimos )
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 Â°C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [24]:
scraped_data["TableHTML"] = table_facts.to_html()

In [25]:
#Use Pandas to convert the data to a HTML table string.
table_facts = tables[1]
table_facts.columns = ['Characteristics', 'Values']
table_facts['Characteristics'] = table_facts['Characteristics'].str.replace(':', '')
table_facts
facts_html = table_facts.to_html()

print(facts_html)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Characteristics</th>
      <th>Values</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Equatorial Diameter</td>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Polar Diameter</td>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Mass</td>
      <td>6.39 Ã— 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Moons</td>
      <td>2 ( Phobos &amp; Deimos )</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Orbit Distance</td>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Orbit Period</td>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Surface Temperature</td>
      <td>-87 to -5 Â°C</td>
    </tr>
    <tr>
      <th>7</th>
      <td>First Record</td>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Recorded By</td>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

# Mars Hemispheres

In [26]:
# URL
url_mars_hemispheres = "https://marshemispheres.com/"

In [27]:
# Use the browser to visit the url
browser.visit(url_mars_hemispheres)

In [28]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [29]:
results= soup.find_all('div',class_='description')

In [30]:
# list_hemispheres = []
# for i in range(len(results)):
#     list_hemispheres.append(results[i].a.h3.text)

# list_hemispheres

urls = []
titles = []
for item in results:
    urls.append(url_mars_hemispheres + item.find('a')['href'])
    titles.append(item.find('h3').text.strip())
print(urls)
titles

['https://marshemispheres.com/cerberus.html', 'https://marshemispheres.com/schiaparelli.html', 'https://marshemispheres.com/syrtis.html', 'https://marshemispheres.com/valles.html']

['Cerberus Hemisphere Enhanced',
 'Schiaparelli Hemisphere Enhanced',
 'Syrtis Major Hemisphere Enhanced',
 'Valles Marineris Hemisphere Enhanced']

In [31]:
#Find the image urls 
img_result = soup.find_all('img')

In [32]:
for image in img_result:
    print(image['src'])

images/usgs_logo_main_2x.png
images/nasa-logo-web-med.png
images/astropedia-logo-main.png
images/39d3266553462198bd2fbc4d18fbed17_cerberus_enhanced.tif_thumb.png
images/08eac6e22c07fb1fe72223a79252de20_schiaparelli_enhanced.tif_thumb.png
images/55a0a1e2796313fdeafb17c35925e8ac_syrtis_major_enhanced.tif_thumb.png
images/4e59980c1c57f89c680c0e1ccabbeff1_valles_marineris_enhanced.tif_thumb.png

In [33]:
browser.visit(urls[0])
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
image = url_mars_hemispheres+soup.find('img',class_='wide-image')['src']
image

'https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'

In [34]:
img_urls = []
for image in urls:
    browser.visit(image)
    html = browser.html
    soup = BeautifulSoup(html, 'html.parser')
#     savetofile(textfilename,soup.prettify())
    image = url_mars_hemispheres+soup.find('img',class_='wide-image')['src']
    img_urls.append(image)
    
img_urls

['https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg',
 'https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg',
 'https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg',
 'https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg']

In [35]:
hemisphere_image_urls = []

for i in range(len(titles)):
    hemisphere_image_urls.append({'title':titles[i],'img_url':img_urls[i]})

hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]

In [36]:
# Create a dictionary with the scraped data
mars_hemisphere_images = {"ListImages": hemisphere_image_urls}
mars_hemisphere_images

{'ListImages': [{'title': 'Cerberus Hemisphere Enhanced',
   'img_url': 'https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
  {'title': 'Schiaparelli Hemisphere Enhanced',
   'img_url': 'https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
  {'title': 'Syrtis Major Hemisphere Enhanced',
   'img_url': 'https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
  {'title': 'Valles Marineris Hemisphere Enhanced',
   'img_url': 'https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]}

In [37]:
# Save the scraped data to an entry of the dictionary
scraped_data["ListImages"] = hemisphere_image_urls

In [38]:
browser.quit()

In [39]:
# The scraped data is available on the dictionary form
scraped_data

{'Title': "NASA's Perseverance Rover Will Peer Beneath Mars' Surface ",
 'Paragraph': "The agency's newest rover will use the first ground-penetrating radar instrument on the Martian surface to help search for signs of past microbial life. ",
 'featured_image_url': 'https://spaceimages-mars.com/image/featured/mars3.jpg',
 'TableHTML': '<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Values</th>\n    </tr>\n    <tr>\n      <th>Characteristics</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 Ã— 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 ( Phobos &amp; Deimos )</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 Â°C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>',
 'ListImages': [{'title': 'Cerberus Hemisphere Enhanced',
   'img_url': 'https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
  {'title': 'Schiaparelli Hemisphere Enhanced',
   'img_url': 'https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
  {'title': 'Syrtis Major Hemisphere Enhanced',
   'img_url': 'https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
  {'title': 'Valles Marineris Hemisphere Enhanced',
   'img_url': 'https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]}

# Part 2: MongoDB and Flask Application

In [40]:
import pymongo

In [41]:
# The default port used by MongoDB is 27017
# https://docs.mongodb.com/manual/reference/default-mongodb-port/
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

# Declare the database
db = client.mission_to_mars

In [42]:
#Insert the scraped_data in the database
db.mission_to_mars.insert_many([scraped_data])

# # Declare the collection
# mission_to_mars = db.mission_to_mars

In [43]:
query_result = (db.mission_to_mars.find_one())
query_result

{'_id': ObjectId('62accc18b4626460b739dbea'),
 'Title': "NASA's Mars Helicopter Attached to Mars 2020 Rover ",
 'Paragraph': 'The helicopter will be first aircraft to perform flight tests on another planet.',
 'featured_image_url': 'https://spaceimages-mars.com/image/featured/mars3.jpg',
 'TableHTML': '<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Values</th>\n    </tr>\n    <tr>\n      <th>Characteristics</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 Ã— 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 ( Phobos &amp; Deimos )</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 Â°C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>',
 'ListImages': [{'title': 'Cerberus Hemisphere Enhanced',
   'img_url': 'https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'},
  {'title': 'Schiaparelli Hemisphere Enhanced',
   'img_url': 'https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'},
  {'title': 'Syrtis Major Hemisphere Enhanced',
   'img_url': 'https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'},
  {'title': 'Valles Marineris Hemisphere Enhanced',
   'img_url': 'https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]}